In [1]:
import numpy as np
import pandas as pd
from sklearn import *
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [2]:
raw_data=pd.read_csv('spamham.csv',encoding='latin-1')
raw_data=raw_data.where((pd.notnull(raw_data)),'')

In [3]:
mail_data1=raw_data[['Category','Message']]

In [4]:
mail_data1.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
m={"ham":1,"spam":0}
mail_data1["Category"]=mail_data1["Category"].map(m)
mail_data1.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

In [6]:
X=mail_data1['Message']
y=mail_data1['Category']

In [7]:
print(X)
print('..........')
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
..........
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

In [8]:
#transform the text data to feature vectors that can be used as input to the svm model using TfidfVectorizer
#convert the text to lowercase letters

feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
X=feature_extraction.fit_transform(X)

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,test_size=0.2,random_state=100)

In [10]:
#convert y_train and y_test values to integers
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [11]:
model=LinearSVC()
model.fit(X_train,y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [12]:
Predicted_y_train=model.predict(X_train)
accuracy=accuracy_score(y_train,Predicted_y_train)

In [13]:
print(accuracy)

0.9997756338344178

In [14]:
predicted_y_test=model.predict(X_test)
accuracy1=accuracy_score(y_test,predicted_y_test)
print(accuracy1)

0.9820627802690582

In [18]:
input_mail = ["I'm gonna be home soon and i don't want to talk about this stuff anymore tonight, k? I've cried enough today."]
# convert text to feature vectors
input_mail_features = feature_extraction.transform(input_mail)

#making prediction
prediction = model.predict(input_mail_features)
print(prediction)

if(prediction[0] == 1):
  print('HAM MAIL')
else:
  print('SPAM MAIL')

[1]
HAM MAIL